body{
     margin:0
     font-family Arial;
    background: red
    linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6))
    url("https://images.unsplash.com/photo-1513475382585-d06e58bcb0e0");
    background-size:cover
    background-attachment;
    color: #ffffff;
}









